java_work/.metadata/

# 디렉토리
cs_work/WinFormsApp2/packages/
cs_work/WinFormsApp2/.vs/
cs_work/class05/obj/
cs_work/WinFormsApp1_Class05/obj/
cs_work/WindowsFormsApp1/obj/
cs_work/WindowsFormsApp1/bin/
cs_work/WindowsFormsApp1/AA.cs
cs_work/WindowsFormsApp1/A.cs
cs_work/WindowsFormsApp1_Class05/obj/
cs_work/WinFormsApp2/packages/

# 특정 파일
cs_work/class05/obj/Debug/net8.0-windows/class05.sourcelink.json
cs_work/class05/obj/Debug/net8.0-windows/class05.csproj.FileListAbsolute.txt
cs_work/class05/obj/Debug/net8.0-windows/class05.GeneratedMSBuildEditorConfig.editorconfig
cs_work/class05/obj/Debug/net8.0-windows/class05.AssemblyInfo.cs
cs_work/class05/bin/Debug/net8.0-windows/class05.deps.json
cs_work/class05/Form1.cs
cs_work/class05/Form1.Designer.cs
cs_work/WinFormsApp8/obj/Debug/net8.0-windows/WinFormsApp8.AssemblyInfo.cs
cs_work/WinFormsApp7/obj/Debug/net8.0-windows/WinFormsApp7.sourcelink.json
cs_work/WinFormsApp7/obj/Debug/net8.0-windows/WinFormsApp7.AssemblyInfo.cs
cs_work/WinFormsApp7/Program.cs
cs_work/WinFormsApp7/Form1.cs
cs_work/WinFormsApp6/obj/Debug/net8.0-windows/WinFormsApp6.AssemblyInfo.cs
cs_work/WinFormsApp5/obj/Debug/net8.0-windows/WinFormsApp5.AssemblyInfo.cs
cs_work/WinFormsApp4/obj/Debug/net8.0-windows/WinFormsApp4.AssemblyInfo.cs
cs_work/WinFormsApp3/obj/Debug/net8.0-windows/WinFormsApp3.AssemblyInfo.cs
cs_work/WinFormsApp2/obj/Debug/net8.0-windows/WinFormsApp2.AssemblyInfo.cs
cs_work/WinFormsApp2/WinFormsApp2.sln
cs_work/WinFormsApp2/.vs/WinFormsApp2/v17/.futdcache.v2
cs_work/WinFormsApp2/.vs/WinFormsApp2/DesignTimeBuild/.dtbcache.v2
cs_work/WinFormsApp2/.vs/ProjectEvaluation/winformsapp2.projects.v7.bin
cs_work/WinFormsApp2/.vs/ProjectEvaluation/winformsapp2.metadata.v7.bin
cs_work/WinFormsApp11/obj/Debug/net8.0-windows/WinFormsApp11.AssemblyInfo.cs
cs_work/WinFormsApp10/obj/Debug/net8.0-windows/WinFormsApp10.AssemblyInfo.cs
cs_work/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
cs_work/WinFormsApp1_Class05/obj/Debug/net8.0-windows/WinFormsApp1_Class05.designer.runtimeconfig.json
cs_work/WinFormsApp1_Class05/obj/Debug/net8.0-windows/WinFormsApp1_Class05.designer.deps.json
cs_work/WinFormsApp1_Class05/obj/Debug/net8.0-windows/WinFormsApp1_Class05.GlobalUsings.g.cs
cs_work/WinFormsApp1_Class05/obj/Debug/net8.0-windows/WinFormsApp1_Class05.GeneratedMSBuildEditorConfig.editorconfig
cs_work/WinFormsApp1_Class05/obj/Debug/net8.0-windows/WinFormsApp1_Class05.AssemblyInfo.cs
cs_work/WinFormsApp1_Class05/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
cs_work/WinFormsApp1_Class05/WinFormsApp1_Class05.csproj
cs_work/WinFormsApp1_Class05/Program.cs
cs_work/WinFormsApp1_Class05/Form1.resx
cs_work/WinFormsApp1_Class05/Form1.cs
cs_work/WindowsFormsApp2/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
cs_work/WindowsFormsApp2/WindowsFormsApp2.sln
cs_work/WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex/21cd8439-9063-4462-bc62-09f2ac4ef057.vs
